!!! Strict
%html
  %head
    %meta(charset="utf-8")
    %title
      = "#{yield_content(:page_title)} - Higher Order Heroku"
    = stylesheet_link_tag "application", :media => "all"

    %link{rel:"alternate", type: "application/atom+xml", title: "Higher Order Heroku article feed", href: "/articles.atom"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    = javascript_include_tag "application"
    = partial 'ga'

  %body
    .wrapper
      %header
        %h1
          %a(href="/")
            %img.logo(src="#{image_path('heroku.png')}")
            Higher Order Heroku
        %p Develop, deploy and manage applications the Heroku way.

      %section
        = yield

      %footer
        %p Higher Order Heroku is a <a href="https://twitter.com/rwdaigle">@rwdaigle</a> project available <a href="https://twitter.com/HOHeroku">@HOHeroku</a> and via a <a href="/articles.atom">feed</a>.
        %p
          %small Hosted on Heroku &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>