.network
  %p
    %small See also
  %ul
    %li
      %a(href="http://www.miyagijournal.com")
        %img(width="25" src="#{image_path('miyagi.png')}")
        The Miyagi Journal

  %p
    %small Higher Order Heroku is available at:
  %ul
    %li
      %a(href="https://twitter.com/HOHeroku")
        %img(width="25" src="#{image_path('twitter.png')}")
        @HOHeroku
    %li
      %a(href="https://plus.google.com/communities/102497867313176722970")
        %img(width="25" src="#{image_path('gplus.png')}")
        Google+
    %li
      %a(href="https://www.facebook.com/HigherOrderHeroku")
        %img(width="25" src="#{image_path('facebook.png')}")
        Facebook
    %li
      %a(href="/articles.atom")
        %img(width="25" src="#{image_path('feed.png')}")
        Feed
%p
  %small
    Higher Order Heroku is an <a href="https://twitter.com/rwdaigle">@rwdaigle</a> project running on <a href="http://heroku.com">Heroku</a>.
    Theme by <a href="https://github.com/orderedlist">orderedlist</a>.